.container-alta {

    padding: 2.5em 2em;

    h1, h2 {
        font-size: 2.5em;
        text-align: center;
    }

    h2 {
        color: rgb(255, 158, 48);      
    }

    form {
        margin: 0 auto 2em;
        width: 40%;
        padding: 2em;
        
        .columna {
            display: flex;
            flex-direction: column;
        }

        label {
            text-transform: uppercase;
            margin-top: 2em;  
        }

        input {
            width: 100%;
            height: 2.5em;
            
            &:focus {
                border: 2px solid #ffbf00;
                background-color: rgb(209, 209, 209);
                outline: none;
            }   
        }

        input[type="checkbox"] {
            display: inline;
            width: 15px;
            height: 15px;
            margin-top: 2em;
        }

        .advertencia {
            border: 1px solid rgb(249, 0, 0);
            background-color: rgb(243, 218, 76);
            color: rgb(79, 0, 0);
            padding: 0.2em 0;
            text-align: center;
            display: none;
        }
    
        button {
            display: block;
            border: .13em solid rgb(40, 151, 0);
            border-radius: .5em;
            width: 30%;
            height: 35px;
            background-color: #00d70e;
            color: rgb(240, 240, 240);
            font-weight: bold;
            font-size: 1.2em;
            margin: 1.3em auto;

            &:hover {
                background-color: #6cff3f;
                color: rgb(160, 160, 160);
                cursor: pointer;
            }

            &:disabled {
                background-color: rgb(240, 240, 240);
                color: rgb(194, 194, 194);
                border: .13em solid rgb(230, 230, 230);
                cursor: default;
            }
        }
        
    }

    hr {
        border: 3px solid rgb(255, 128, 0);
        margin-bottom: 2.5em;
    }

    #listado-productos {
        width: 100%;
    }

    table, th, td {
        border: 2px solid rgb(84, 84, 84);
        border-collapse: collapse; 
    }

    table {
        width: 90%;
        margin: 2em auto;

        th {
            font-size: 1.2em;
            font-weight: bold;
            padding: .3em .5em;
            text-align: center;
            background-color: #ffe597;
        }
    
        td {
            font-family: 'Times New Roman', Times, serif;
            font-size: 1em;
            padding: .3em;
            text-align: center;
        }
    }

    .actualizar {
        display: block;
        border: .1em solid rgb(0, 29, 135);
        border-radius: .4em;
        width: 6em;
        height: 1.5em;
        background-color: #000ed7;
        color: rgb(240, 240, 240);
        font-weight: bold;
        font-size: .8em;
        margin: 0 auto;
        text-align: center;

        &:hover {
            background-color: #3f7fff;
            color: rgb(230, 230, 230);
            cursor: pointer;
        }

        &:disabled {
            background-color: rgb(240, 240, 240);
            color: rgb(194, 194, 194);
            border: .1em solid rgb(230, 230, 230);
            cursor: default;
        }
    }

    .borrar {
        display: block;
        border: .1em solid rgb(165, 2, 2);
        border-radius: .4em;
        width: 4.3em;
        height: 1.5em;
        background-color: #f40303;
        color: rgb(240, 240, 240);
        font-weight: bold;
        font-size: .8em;
        margin: 0 auto;
        text-align: center;
        

        &:hover {
            background-color: #ff7d7d;
            color: rgb(230, 230, 230);
            cursor: pointer;
        }

    }

}