@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Cormorant+SC:wght@300&family=Open+Sans&display=swap');


body {
  font-family: "Open Sans", sans-serif;
}


.nav-bar__nav-link {
  font-family: 'Cormorant SC', serif;
}


section.nosotros {
  p {
    font-family: 'Bree Serif', serif;
  }
}
